[2016-08-23 10:45] fernandojsg opened #1 "Basic mesh painting engine"
Support for
- [x] Color
- [x] Texture
- [x] Size/width

[2016-08-23 10:45] fernandojsg opened #2 "Advanced painting engine"
Different stroke classes:
- [ ] Cubes
- [ ] Particles

[2016-08-23 10:46] fernandojsg opened #3 "Color UI"

[2016-08-23 10:46] fernandojsg opened #4 "Brush UI"
- [ ] Brush type
- [ ] Brush size

[2016-08-23 10:46] fernandojsg opened #5 "Save screenshot"

[2016-08-23 10:46] fernandojsg opened #6 "Save binary"

[2016-08-23 10:46] fernandojsg opened #7 "Save GIF"

[2016-08-23 10:47] fernandojsg opened #8 "Load binary (hash/url)"

[2016-08-23 10:47] fernandojsg opened #9 "Share binary"

[2016-08-23 10:58] feiss opened #10 "aframe src"
Setup aframe script src to a proper one

[2016-08-23 10:59] feiss opened #11 "Test and change default vive-controls"
use models/controller.obj

[2016-08-23 11:35] #10 closed, assigned to nobody

[2016-08-23 21:23] #11 closed, assigned to nobody

[2016-08-23 21:24] fernandojsg opened #12 "Controller model is not correctly centered"

[2016-08-30 18:55] fernandojsg opened #14 "Add shadows"

[2016-08-31 12:00] feiss opened #15 "Fix white borders in ui"
I can fix it in photoshop, but maybe there's a flag by code that can pre-post multiply the alpha to the color and fix it?

[2016-08-31 12:01] feiss opened #16 "Add ui_hover.png and ui_clicked.png"

[2016-08-31 22:35] fernandojsg opened #21 "Rotate buffers for lines"
When you get to the end of the buffer, start deleting the first ones?

[2016-09-05 10:54] feiss opened #28 "Mirror brush textures on opposite hand"
When using a non-symmetrical or irregular brush, it's odd that outwards strokes done with both hands have different orientation. If you look at the horizontal strokes in this example, started from the center:

![image](https://cloud.githubusercontent.com/assets/359872/18245667/db050f6c-7366-11e6-983a-5e4304574f82.png)

one would expect that the strokes would be symmetrical in y-axis instead of rot

[2016-09-06 13:42] #1 closed, assigned to nobody

[2016-09-06 17:24] #12 closed, assigned to feiss

[2016-09-07 19:23] fernandojsg opened #31 "Add logo when starting the scene"

[2016-09-07 19:23] fernandojsg opened #32 "Lowpass filtering the input to smooth curves"

[2016-09-07 19:24] fernandojsg opened #33 "Undo when pressing grip"

[2016-09-07 19:24] fernandojsg opened #34 "Touchpad up/down to modify width"

[2016-09-07 19:24] fernandojsg opened #35 "Touchpad texture modified removing undo/redo"

[2016-09-07 19:24] fernandojsg opened #36 "Pointer tip scale"

[2016-09-07 19:25] fernandojsg opened #37 "Pointer tip object"

[2016-09-07 19:25] fernandojsg opened #38 "Modify color tip with selected color"

[2016-09-07 19:28] fernandojsg opened #39 "Load brushes thumbnails on UI"

[2016-09-07 19:29] fernandojsg opened #40 "UI Buttons"

[2016-09-07 19:29] fernandojsg opened #41 "UI Slider"

[2016-09-07 19:29] fernandojsg opened #42 "UI Colorwheel"

[2016-09-07 19:29] fernandojsg opened #43 "Brushes pagination"

[2016-09-07 19:30] #4 closed, assigned to nobody

[2016-09-07 19:30] #3 closed, assigned to nobody

[2016-09-07 23:57] #34 closed, assigned to fernandojsg

[2016-09-08 00:39] feiss opened #49 "make controller tooltips bigger"

[2016-09-08 00:40] feiss opened #50 "Add some sounds"

[2016-09-08 00:41] #38 closed, assigned to fernandojsg

[2016-09-08 00:42] #33 closed, assigned to fernandojsg

[2016-09-08 00:44] #37 closed, assigned to feiss

[2016-09-08 00:45] #36 closed, assigned to fernandojsg

[2016-09-08 03:23] dmarcos opened #51 "Why having a separate options objects on `registerBrush`"
If there's not a good reason I would consolidate everything on a single object

[2016-09-08 10:10] #15 closed, assigned to feiss

[2016-09-08 10:10] #16 closed, assigned to feiss

[2016-09-08 10:10] #35 closed, assigned to feiss

[2016-09-08 10:10] #49 closed, assigned to feiss

[2016-09-08 10:32] fernandojsg opened #52 "Transparency bug on tooltip"
![image](https://cloud.githubusercontent.com/assets/782511/18346417/4c5c0804-75c0-11e6-83dd-9801c7e7f4d6.png)

[2016-09-08 10:35] #31 closed, assigned to fernandojsg

[2016-09-08 14:10] #9 closed, assigned to fernandojsg

[2016-09-11 22:50] #21 closed, assigned to nobody

[2016-09-11 22:52] #2 closed, assigned to nobody

[2016-09-11 23:14] #8 closed, assigned to nobody

[2016-09-12 14:42] fernandojsg opened #65 "Add sound to UI"

[2016-09-12 14:42] fernandojsg opened #66 "Add sound while painting"

[2016-09-12 14:44] #50 closed, assigned to feiss

[2016-09-12 23:42] dmarcos opened #67 "The size values for the brush don't have an appropriate scale"
The schema states a min: 0.0 and max: 1.0. The values in the interval all set very big brushes. We have to either introduce a correction factor somewhere in the brush logic or change the schema to reflect a better scale.

[2016-09-13 14:24] feiss opened #69 "Use controller vibration when touchpad is used for changing brush size"
Higher frecuency vibrations for smaller brushes, lower for bigger brushes

[2016-09-14 16:03] #67 closed, assigned to fernandojsg

[2016-09-15 11:41] feiss opened #72 ""Color" picker"
A nice feature would be a picker, that by raycasting you can pick any stroke and get all its brush properties (size, color and type).

[2016-09-15 11:43] feiss opened #73 "Stroke eraser"
If a raycast is implemented on the whole painting (as for the picker suggested in #72 ), a stroke eraser could be added to.

[2016-09-16 21:48] feiss opened #74 "Strokes that were undoed are also saved in binary"

[2016-09-16 22:03] feiss opened #75 "Raycasting ray direction"
It would be much more convenient if raycasting ray direction would not go straight out of the controller, but in a downwards angle.

![image](https://cloud.githubusercontent.com/assets/359872/18602518/1258c650-7c6a-11e6-80ef-6d0c0086170e.png)

It would need some trial an error, but I think the angle of the vive controllers would be fine:

![image](https://cloud.githubusercontent.com/assets/359872/

[2016-09-17 13:10] #74 closed, assigned to fernandojsg

[2016-09-17 15:33] fernandojsg opened #77 "Saving feedback in VR"
Progress bar and some message saying SAVING...

[2016-09-17 15:34] #41 closed, assigned to dmarcos

[2016-09-17 15:34] #42 closed, assigned to dmarcos

[2016-09-17 15:34] #40 closed, assigned to dmarcos

[2016-09-17 15:34] #43 closed, assigned to dmarcos

[2016-09-17 15:34] #39 closed, assigned to dmarcos

[2016-09-17 15:34] #6 closed, assigned to fernandojsg

[2016-09-17 15:35] fernandojsg opened #78 "Add screenshot with logo and a animated gif in the README"

[2016-09-17 16:03] fernandojsg opened #81 "Color wheel always shows #fff until the ray intersect the UI"
...when loading the UI for the first time

[2016-09-17 16:04] fernandojsg opened #82 "No brush selected on the UI the first time you open it"

[2016-09-17 16:06] fernandojsg opened #83 "Issues on the message background"
Maybe it's related to the transparency and alpha similar to this one: https://github.com/fernandojsg/a-painter/issues/52
![image](https://cloud.githubusercontent.com/assets/782511/18609386/52f2014e-7d01-11e6-9b1c-4bf93e054309.png)

/cc @feiss

[2016-09-17 19:28] fernandojsg opened #84 "Unknown property `hand` for component/system `tracked-controls`."
`core:schema:warn Unknown property`hand`for component/system`tracked-controls`. +0ms
browser.js:112core:schema:warn Unknown property`hand`for component/system`tracked-controls`. +1ms`

[2016-09-17 19:29] fernandojsg opened #85 "Resize logo.png to be power of two."
To get rid of the warning:

[code]

[2016-09-17 22:24] #85 closed, assigned to feiss

[2016-09-18 00:20] feiss opened #87 "Remove all debug console.log()"

[2016-09-19 15:48] #87 closed, assigned to nobody

[2016-09-19 15:48] fernandojsg opened #90 "Hide logo when using /?url param"

[2016-09-20 00:39] #90 closed, assigned to nobody

[2016-09-20 08:51] #75 closed, assigned to nobody

[2016-09-20 08:51] #81 closed, assigned to dmarcos

[2016-09-20 12:32] fernandojsg opened #93 "Set a default camera position when loading an URL"
Try to fit the whole drawing in the camera view.

[2016-09-20 21:14] ngokevin opened #99 "Share your drawing!"
Post a link to your A-Painter drawings here.

To save a drawing, just open up the Main Menu / Palette, hit save, and copy and paste the URL.

[2016-09-20 21:52] vladikoff opened #100 "Help connecting HTC Vive to the app"
Hello,

I'm trying to use https://aframe.io/a-painter/ with HTC Vive but my Vive is sitting in the Steam VR 'home scene'. Meanwhile the browser goes full screen.

How do I make the app to go to my Vive headset screen?

I tried in latest Nightly and stable Chrome on Windows 10.

Cheers!

[2016-09-20 21:55] vladikoff commented on #100
Some log:

A-Frame Version: 0.3.0  build.js:299:1570
three Version: ^0.76.1  build.js:299:1614
WebVR Polyfill Version: 0.9.15  build.js:299:1667
A-PAINTER Version: 1  main.js:76:5
core:schema:warn Unknown property `hand` for component/system `tracked-controls`. +0ms  build.js:78:666
core:schema:warn Unknown property `hand` for component/system `tracked-controls`. +15ms  build.js:78:666
components:

[2016-09-20 21:55] ngokevin commented on #100
Hi, see https://webvr.info/ to get a proper WebVR browser

[2016-09-20 21:55] #100 closed

[2016-09-20 21:56] ngokevin commented on #100
https://webvr.info/get-chrome/

[2016-09-20 21:56] ngokevin commented on #99
https://aframe.io/a-painter/?url=https://ucarecdn.com/0fd75ffe-b107-4d72-b990-692692853768/

<img width="746" alt="screen shot 2016-09-20 at 2 11 18 pm" src="https://cloud.githubusercontent.com/assets/674727/18690333/701ee79e-7f42-11e6-9262-99a54a7caf91.png">

[2016-09-20 21:57] vladikoff commented on #100
I was trying with Nightly 52.0a1, gonna try with custom Chrome now. 👍

[2016-09-20 21:59] feiss commented on #99
https://aframe.io/a-painter/?url=https://ucarecdn.com/3f92dffd-1c66-400d-898a-9a9decd5f07a/

![image](https://cloud.githubusercontent.com/assets/359872/18690408/3c89ca92-7f8e-11e6-8ade-2ad4dccb03d6.png)

[2016-09-20 22:05] vladikoff commented on #100
In the custom Chromium build from https://webvr.info/get-chrome/ the view works 👍 but controllers do not work :(

[2016-09-20 22:05] ngokevin commented on #100
Weird, it should. Restart SteamVR, reboot the controllers, stuff like that?

[2016-09-20 22:07] vladikoff commented on #100
@ngokevin oh besides `you must turn on the "Enable WebVR" flag in about:flags` I also had to switch: `Gamepad extensions` to `Enabled` (from `Default`). works now!!

[2016-09-20 22:21] ngokevin opened #102 "intermittent UploadCare CORS errors when viewing drawings"

[2016-09-20 22:31] feiss commented on #99
https://aframe.io/a-painter/?url=https://ucarecdn.com/bacf6186-96b1-404c-9751-e955ece04919/

![image](https://cloud.githubusercontent.com/assets/359872/18691213/c37d8c2e-7f92-11e6-90d1-a9a2f79c5132.png)

[2016-09-20 22:36] fernandojsg opened #103 "Allow user to set the viewing position for non-headest viewer"

[2016-09-20 22:36] fernandojsg opened #104 "Include "made with A-frame" logo in the viewer"

[2016-09-20 22:37] fernandojsg opened #105 "Use OrbitControls/TrackballControls for the viewer"

[2016-09-20 22:53] ngokevin opened #106 "Remixing other drawings does not work. Just gives me the old UploadCare URL"

[2016-09-20 22:54] ngokevin commented on #105
If not mobile?

[2016-09-20 23:02] ngokevin commented on #106
Just misclicked copying the URL

[2016-09-20 23:02] #106 closed

[2016-09-20 23:17] feiss commented on #99
https://aframe.io/a-painter/?url=https://ucarecdn.com/3e089e07-be62-48e1-9f12-9a284c249e77/

![image](https://cloud.githubusercontent.com/assets/359872/18692223/138962f0-7f99-11e6-917f-a36ddadf622d.png)

[2016-09-20 23:18] fernandojsg commented on #105
Instead of WASD yep

[2016-09-20 23:34] ngokevin commented on #99
First VR guestbook including @fernandojsg, @utopiah, and me https://aframe.io/a-painter/?url=https://ucarecdn.com/6b35872e-0b67-4f46-aa20-c37d3b540746/

<img width="982" alt="screen shot 2016-09-20 at 4 32 41 pm" src="https://cloud.githubusercontent.com/assets/674727/18692560/ffc1a050-7f4f-11e6-8b09-3da7416cb6bd.png">

[2016-09-21 00:27] dmarcos commented on #99
Signing the guestbook!

![signature](https://d3vv6lp55qjaqc.cloudfront.net/items/292f471X1J453d2v0I0d/Image%202016-09-20%20at%205.24.08%20PM.png?X-CloudApp-Visitor-Id=6940294058a22401916de4cd833f24f8&v=3ba26bba)

https://aframe.io/a-painter/?url=https://ucarecdn.com/6b6799e8-ebdb-43f8-8d2a-c9406222e233/

[2016-09-21 00:55] ngokevin commented on #100
Ah, right. Glad you found that Gamepad switch.

[2016-09-21 01:44] ngokevin commented on #102
https://twitter.com/mrdoob/status/778356301537562624

[2016-09-21 03:27] cvan opened #107 "Change "MozVR" to "Mozilla VR" in splash drawing"
We're referring to the team as "Mozilla VR" instead of "MozVR." Soon https://mozvr.com/ will be redirected too (but we'll still keep it because it's a nice short URL).

[2016-09-21 03:30] cvan opened #108 "Add custom analytics GA events to know how people are using A-Painter"
See https://github.com/MozVR/mozvr-site/blob/master/assets/js/ga.js for inspiration.

[2016-09-21 03:31] cvan opened #109 "Support glTF models"
glTF isn't 100% mature yet, but there is ongoing work being done in THREE.js to properly support glTF. It'd be nice if, once that work is done, A-Painter would support glTF.

[2016-09-21 07:14] helemaalbigt opened #110 "Signed the guestbook"
https://aframe.io/a-painter/?url=https://ucarecdn.com/69c16e90-ee65-410c-82f6-23bf1ecc6d2f/

[2016-09-21 07:15] helemaalbigt commented on #99
https://aframe.io/a-painter/?url=https://ucarecdn.com/69c16e90-ee65-410c-82f6-23bf1ecc6d2f/
Signed the guestbook

[2016-09-21 07:15] #110 closed

[2016-09-21 09:46] cvan opened #111 "Introduce Service Worker to improve speed (and help with unreliable, offline connections)"
A Service Worker would be good to introduce to help the load times. Even on subsequent loads, the time to first byte (even for the 304 requests with `E-Tag` headers) can add up.

I'd recommend using https://github.com/GoogleChrome/sw-toolbox or a snippet from https://serviceworke.rs/. I have several handy but I'd recommend starting with `sw-toolbox`.

Cache the common assets first. And, we can loo

[2016-09-21 10:14] cvan commented on #111
Also could be useful: https://github.com/TalAter/UpUp

[2016-09-21 11:13] cvan opened #112 "Re-evaluate or document custom binary file format"
I couldn't find mention of the rationale behind the ["custom binary file format"](https://github.com/aframevr/a-painter#file-format). I realise it was likely introduced to save on bytes (and/or memory). I saw and briefly participated in the discussions earlier about this.

How big were the files before with JSON? Was this issue with memory consumption or network bandwidth?

Should we be hosting th

[2016-09-21 12:31] feiss commented on #111
Since users can also save their painting in a local file, the offline option is interesting!

[2016-09-21 15:31] fernandojsg commented on #103
@feiss  could you take a look at this one?

[2016-09-21 17:05] dmarcos opened #114 "Add Github ribbon to https://aframe.io/a-painter/"
https://github.com/blog/273-github-ribbons

[2016-09-21 17:08] ngokevin commented on #114
https://github.com/tholman/github-corners

[2016-09-21 18:28] #114 closed

[2016-09-21 19:09] msfeldstein opened #116 "Brush picker thumbnails broken, doesn't seem to pick brush"
Here's what i see running in Chromium webr on my vive.  the thumbnails look like they're using the texture for the whole controller, and i can't seem to pick any other brushes

![capture](https://cloud.githubusercontent.com/assets/161135/18725210/2ca80768-7ff4-11e6-83e0-7328e7bc0f60.PNG)

[2016-09-21 19:13] msfeldstein commented on #116
Actually looks like this is a cross-domain error since i'm running from file: protocol.  My bad.

[2016-09-21 19:13] #116 closed

[2016-09-21 19:32] cvan commented on #102
Here's what the Uploadcare team (Cofounder/CTO) had to say: https://twitter.com/mojololol/status/778677260815470593

Not sure how Doob got in that state though. Perhaps, there's some bug in the upload flow? Want to keep this bug open but repurpose it?

[2016-09-21 19:32] dmitry-mukhin commented on #102
1. file is unavailable, hence 404
2. it is possible that Uploadcare CDN doesn't set proper CORS headers on 404 request, we'll investigate. But this will not solve the original problem of accessing removed file.

[2016-09-21 19:34] dmitry-mukhin commented on #102
/cc @homm

[2016-09-21 20:21] ngokevin commented on #102
It was intermittent. I was able to reproduce sometimes, but after some refreshes, it came up. See the file is still available: https://ucarecdn.com/0fd75ffe-b107-4d72-b990-692692853768/

[2016-09-21 20:48] dmitry-mukhin commented on #102
@ngokevin it's just still cached on some cdn edges. it will expire.

[2016-09-21 20:52] ngokevin commented on #102
OK, I might have to read some docs on how to store it more permanently (I didn't implement this so I wasn't sure of the policies and haven't read the docs). https://github.com/aframevr/a-painter/blob/master/src/main.js#L113

[2016-09-21 21:56] fernandojsg opened #120 "Add guidelines to submit a new brush in readme"
One important need is to submit a thumbnail (128x128 or so)

[2016-09-21 22:01] fernandojsg opened #121 "Need an icon for the line-rainbow brush"
@feiss could you take a look at it? O:)

[2016-09-21 22:07] ngokevin commented on #99
Playing with the Rainbow Brush. https://aframe.io/a-painter/?url=https://ucarecdn.com/b6298564-d13b-4917-89cd-6a6b2ceb8efd/

<img width="740" alt="screen shot 2016-09-21 at 3 06 59 pm" src="https://cloud.githubusercontent.com/assets/674727/18730802/16287d1a-800d-11e6-99ff-d2635faa5a34.png">

[2016-09-21 22:46] msfeldstein opened #124 "Developing brushes without HMD"
So this is an incredible project, and I'd like to see everyone be able to make brushes, not just people who have HMDs and windows.  I was thinking of a separate standalone app that acts as a simple host for brushes.  I was imagining a space that you can trackball around in and which has a few 'quintessential' shapes, such as line, circle, spiral, zigzag, and whatever else floating around you.  You

[2016-09-21 22:50] ngokevin commented on #124
Sounds cool, make it happen :)

[2016-09-21 22:59] msfeldstein commented on #124
On it.

[2016-09-21 23:01] fernandojsg commented on #124
Sounds crazy and cool and the same time, which I like :D :+1:

[2016-09-22 00:03] #121 closed

[2016-09-22 02:57] cvan opened #126 "Document in blog posts about instructions + flags to enable in Chromium builds (and Vive for Firefox)"
chrome://flags/#enable-webvr
chrome://flags/#enable-gamepad-extensions

[2016-09-22 02:59] cvan commented on #126
I/we can create a simple GIF and/or easy step-by-step instructions at the top of the post (just so people don't miss it). And I'll try to make a PR to WebVR.info + MozVR.com ASAP.

[2016-09-22 03:01] cvan commented on #126
One more thing: And instructions coming for Firefox for Vive support soon too - though hand-tracked controllers aren't supported just yet. FYI: @caseyyee wrote [these instructions](https://docs.google.com/document/d/1As4kONaxoj6zEDhHiEA4jVQXSTZepxneFqnacWTlaYE/edit) a while back when Vive support for Firefox landed.

[2016-09-22 03:35] cvan opened #127 "Hide Uploadcare keys that are in HTML"
@fernandojsg and I talked about this. For now, it's fine. But, if start to see some abuse (people begin stealing for their own non-A-Painter projects our Uploadcare keys that are in plain sight in the HTML), we may need to work on a server-side solution (with throttling). I assume just obscuring the Uploadcare keys in an external JS file is enough to thwart obvious abuse.

[2016-09-22 03:40] cvan opened #128 "Use aframe.io's Google Analytics ID"
I noticed the Google Analytics ID for A-Painter does not match the one https://aframe.io uses. https://aframe.io/painter/ is using `UA-80530812-2`. https://aframe.io uses `UA-24056643-4`.

To whomever set up the A-Painter GA account, are you seeing stats in GA? I could be wrong (especially if you changed the host to aframe.io instead of a-painter.com), but I assume GA events are not coming through

[2016-09-22 03:40] cvan commented on #128
Also, see #108 for introducing more instrumentation for GA events.

[2016-09-22 05:10] ngokevin commented on #128
Yeah, we're getting stats. It's set up to `https://aframe.io/a-painter`.

[2016-09-22 05:10] #128 closed

[2016-09-22 05:12] ngokevin commented on #128
I added everyone

[2016-09-22 05:42] ngokevin commented on #93
This should fix: https://github.com/aframevr/a-painter/pull/122

2.5m back if no headset

[2016-09-22 05:42] #93 closed

[2016-09-22 05:44] cvan commented on #128
Awesome, thanks. I read their FAQ, and just FYI it's impossible to transfer Google Analytics accounts. So, whichever ID you use is permanent and tied to your account. I know because I was trying to move Josh's mozvr.com and aframe.io ones.

[2016-09-22 06:03] cvan opened #129 "Link to/mention info. on browser/headset requirements on splash page"
If I land on the splash page, and I haven't read the blog post or don't have context, it's not clear that I can draw in the air using an HTC Vive. We should indicate somewhere that it is a roomscale VR experience designed for the HTC Vive, especially for the landing page.

If my first time coming to A-Painter is from [someone's drawing](https://aframe.io/a-painter/?url=https://ucarecdn.com/e4d0260

[2016-09-22 06:05] cvan commented on #129
I know this was most definitely intentional - hence the GitHub icon "dog whistle." But, I can totally see folks missing that, especially on the [dark background](https://aframe.io/a-painter/?url=https://ucarecdn.com/e4d0260a-9157-46d3-aaa6-55c794fecab3/):

![screen shot 2016-09-21 at 11 04 43 pm](https://cloud.githubusercontent.com/assets/203725/18738349/d00aaa40-804f-11e6-9a66-a5844e7e6521.png)

[2016-09-22 06:05] cvan opened #130 "Do not show controllers on the ground if disconnected"
If I'm viewing [a drawing](https://aframe.io/a-painter/?url=https://ucarecdn.com/e4d0260a-9157-46d3-aaa6-55c794fecab3/), and I don't have context (know this is a HTC Vive experience), I wouldn't know that this is a controller:

![screen shot 2016-09-21 at 11 04 43 pm](https://cloud.githubusercontent.com/assets/203725/18738356/d9169a90-804f-11e6-9147-af6c0253bce3.png)

And, I may not even have a Vi

[2016-09-22 06:21] ngokevin commented on #130
https://github.com/aframevr/a-painter/pull/122

[2016-09-22 06:21] #130 closed

[2016-09-22 06:25] cvan opened #131 "Show helpful UI when landing on a drawing/splash page (for mousedrag and WASD controls)"
I've seen more than a few tweets about folks getting confused when they land on [a drawing](https://aframe.io/a-painter/?url=https://ucarecdn.com/e4d0260a-9157-46d3-aaa6-55c794fecab3/).

They don't know about the `mouse-drag` (hovering over the `grabbing` isn't obvious enough IMO; and that's the fault of the cursor styling by the OS/browser IMO). And, even more commonly folks seem to not know abou

[2016-09-22 06:26] cvan commented on #130
ah, sweet - sorry didn't see that

[2016-09-22 06:29] cvan commented on #66
Could be like a Spotify embed (hidden even) like @donmccurdy did with https://sandbox.donmccurdy.com/vr/monument/.

It'd be even cooler if you could reference a song by Spotify/SoundCloud/YouTube URL just like I can load a drawing by URL: https://aframe.io/a-painter/?url=https://ucarecdn.com/e4d0260a-9157-46d3-aaa6-55c794fecab3/

[2016-09-22 06:29] ngokevin commented on #130
alternative implementation would be to not show them if the rotation is exactly 0,0,0

[2016-09-22 06:30] cvan commented on #66
Also, here's an example of using YouTube for ambient sound (but hiding it) to augment a visual (`GIF`): https://gifsound.com/?gif=i.imgur.com/3YgUfXR.gif&v=RScZrvTebeA

[2016-09-22 06:45] cvan opened #133 "Clean git checkout + npm install + npm start crashes WebGL in release Chrome on Mac OS X"
After running all the commands, I loaded [http://localhost:8080/webpack-dev-server/](http://localhost:8080/webpack-dev-server/), and I saw this in Chrome:

![image](https://cloud.githubusercontent.com/assets/203725/18738995/48e862ea-8055-11e6-8b3e-1a0466b27cbf.png)

Mac OS X El Capitan Version 10.11.2 (15C50)
Google Chrome Version 53.0.2785.116 (64-bit)

Loads fine in Firefox release (I'm running

[2016-09-22 06:49] cvan opened #134 "Splash image on master/locally shrunk"
When I load [http://localhost:8080/webpack-dev-server/](http://localhost:8080/webpack-dev-server/) in Firefox, the Z-position (or scale?) of the splash `OBJ` file seems like it changed to be quite tiny compared to how it looks on https://aframe.io/a-painter/.

I checked the entity, and its `position` and the other markup seems unchanged, but I could be missing something.

<img width="1414" alt="sc

[2016-09-22 06:50] cvan commented on #134
Ah, I just noticed the whole stage moved. In any event, the logo is a tad illegible, especially the text under the wordmark.

[2016-09-22 06:55] cvan opened #135 "A-Frame splash OBJ model missing back-face visibility"
I tried setting `material="side: back; shader: flat"` and `material="side: both; shader: flat"` and neither seemed to fix it. Ideas?

![screen shot 2016-09-21 at 8 32 41 pm](https://cloud.githubusercontent.com/assets/203725/18739189/ab0abeea-8056-11e6-9c38-9b4e4fc1abdb.png)
![screen shot 2016-09-21 at 8 32 45 pm](https://cloud.githubusercontent.com/assets/203725/18739188/ab07cf96-8056-11e6-949f-bb

[2016-09-22 06:55] ngokevin commented on #134
for context: camera moves back if you don't have headset so you can view a painting (perhaps should make that also only happen if you're loading a painting)

[2016-09-22 06:56] cvan commented on #133
Nope, loading any other A-Frame scene or three.js example loads just fine. Consistently, A-Painter locally seems to crash my Chrome. FWIW, https://aframe.io/a-painter/ loads fine.

[2016-09-22 06:57] cvan commented on #134
gotcha, makes total sense. and, yeah, would probably special case the splash page.

[2016-09-22 10:00] dmitry-mukhin commented on #102
https://github.com/aframevr/a-painter/blob/master/src/main.js#L114

this will save the file if autostore is enabled for the project (in Uploadcare dashboard), otherwise you'll have to store the file explicitly.

e.g.: https://github.com/RexMorgan/uploadcare-node/blob/master/lib/main.js#L228

[2016-09-22 18:06] ngokevin commented on #102
@dmitry-mukhin Thanks for looking!

@fernandojsg ^ We should enable auto-store at the UploadCare dashboard so paintings don't get expired.

[2016-09-22 18:09] fernandojsg commented on #102
cool! thanks for helping with that 👍

[2016-09-22 18:09] #102 closed

[2016-09-23 19:15] fernandojsg commented on #105
Closed by https://github.com/aframevr/a-painter/pull/137

[2016-09-23 19:15] #105 closed

[2016-09-23 19:47] ngokevin commented on #99
Testing around https://aframe.io/a-painter/?url=https://ucarecdn.com/be5a0897-1981-4046-b5a2-6c8b34de3e1e/

<img width="666" alt="screen shot 2016-09-23 at 12 47 06 pm" src="https://cloud.githubusercontent.com/assets/674727/18799327/e15b36ec-818b-11e6-85ef-3ea16817b9c2.png">

[2016-09-24 00:05] feiss commented on #99
https://aframe.io/a-painter/?url=https://ucarecdn.com/d939bcb0-bc69-4600-a5d2-3e0b47e0639c/

![image](https://cloud.githubusercontent.com/assets/359872/18804449/58f01474-81fb-11e6-8355-ebb324a742e8.png)

[2016-09-24 01:11] feiss commented on #99
another!

https://aframe.io/a-painter/?url=https://ucarecdn.com/c9c89a30-7259-46aa-9b02-64b72adb3fb2/

![image](https://cloud.githubusercontent.com/assets/359872/18805046/9d67bdc4-8204-11e6-9413-a8b06f147fee.png)

[2016-09-24 01:26] ngokevin opened #141 "entering fullscreen with orbit controls and w/o headset is broken"
Might have to set userHeight to 0?

<img width="1388" alt="screen shot 2016-09-23 at 6 25 35 pm" src="https://cloud.githubusercontent.com/assets/674727/18805155/2ea0101a-81bb-11e6-8a40-2a6b81077c5f.png">

[2016-09-24 22:35] fernandojsg commented on #141
Fixed on https://github.com/aframevr/a-painter/pull/142

[2016-09-24 22:35] #141 closed

[2016-09-25 02:18] ngokevin commented on #99
VRNaut by @dmarcos

https://aframe.io/a-painter/?url=https://ucarecdn.com/9687f762-43ff-488d-8e33-8885770f59b3/

![](https://pbs.twimg.com/media/CtEoGVkVIAAbq2x.jpg)

[2016-09-25 02:19] ngokevin commented on #99
By @feiss

https://aframe.io/a-painter/?url=https://ucarecdn.com/962b242b-87a9-422c-b730-febdc470f203/

![](https://pbs.twimg.com/media/CtJ9fb7UEAAcP-3.jpg)

[2016-09-25 02:26] feiss commented on #99
https://aframe.io/a-painter/?url=https://ucarecdn.com/962b242b-87a9-422c-b730-febdc470f203/

![image](https://cloud.githubusercontent.com/assets/359872/18812536/39a8a5f8-82d8-11e6-9674-4878a48045ef.png)

[2016-09-25 02:27] feiss commented on #99
sorry I was randomly clicking on buttons

[2016-09-25 02:44] cvan commented on #111
Example: load a drawing URL once, close the tab, and load it again. On my connection, [this drawing](https://aframe.io/a-painter/?url=https://ucarecdn.com/962b242b-87a9-422c-b730-febdc470f203/) takes over 6 seconds to load on subsequent refreshes (even with all the `304` responses).

The [drawing file](https://ucarecdn.com/962b242b-87a9-422c-b730-febdc470f203/) clocks in at `568.303 KB`, which isn

[2016-09-25 03:02] feiss opened #143 "Optimize scene when saving"
A great moment to optimize the scene is when the user saves it. When he does this, we can expect that he is happy with it, so no more undo will be needed before this point.

A good optimization would be packing all (or batches of) strokes of the same brush in just one stroke, dramatically decreasing the number of draw calls.

[2016-09-25 22:10] ngokevin opened #144 "add grab/grabbing cursor for orbit controls"

[2016-09-26 14:20] darkwing opened #145 "Allow "tracing""
This is probably overly ambitious, but it would be cool if you could load a static image in the "background" (i.e. not as part of the painting) and use it as a guide to draw said image with A-Painter.  That way if someone wants to draw a specific image, they don't have to draw, take off the headset to check out the image, draw some more, take off the headset, etc.

[2016-09-26 14:32] fernandojsg commented on #145
Right now you can drag&drop an image from your desktop to a-painter and it will popup in the scene so you can use it as reference. Could it works for your case?

[2016-09-26 14:34] darkwing commented on #145
Yes sir, I can fly with that.

[2016-09-26 14:34] #145 closed

[2016-09-26 14:37] fernandojsg commented on #145
@darkwing by the way, you can also drop 3d models in 'obj' files so you can use them as reference too :)

[2016-09-26 14:37] darkwing commented on #145
I'd try it out but the PC I was sent already blew its power supply so I've been rendered useless. FML.

[2016-09-26 14:40] fernandojsg commented on #145
Ouch

[2016-09-29 14:31] mrfrase3 opened #147 "Not working with VR"
Heyo,

After many hours of debugging with both the Vive and Rift, I can determine that something has broken VR mode since commit #137 a few days ago (the version of a-painter the demo website uses)

When going into VR mode, the screen goes black and the headset doesn't receive anything.

I'm not too fussed as the things I'm doing have not currently been affected by recent changes, but I thought I

[2016-09-29 19:23] ngokevin commented on #143
Got report that this drawing took time to load and browser raised unresponsive script error. Most likely a Macbook Air since it loads for me after a time.

https://aframe.io/a-painter/?url=https://ucarecdn.com/5d707ac8-b761-478c-b520-bca1a3d8b5de/

[2016-10-03 15:25] fernandojsg opened #149 "Offline development"
Right now most of the assets are loaded from the CDN, so if you won't be able to work on the project while being offline.
Maybe we could solve this by using some cache plugin (html5 app cache) on webpack?
/cc @ngokevin @cvan

[2016-10-03 16:09] ngokevin commented on #149
Can we move the assets into the repo? We could cache, but that seems simplest.

[2016-10-03 16:22] fernandojsg commented on #149
Yeah, I think so :D What do you think @dmarcos ?

[2016-10-03 16:25] fernandojsg commented on #149
@ngokevin still we have some cdn access for uploadcare, clipboardjs and so on. Should we also include them into the repo as vendor files? Or do you have any other proposal for them?

[2016-10-03 18:47] cvan commented on #149
(Related to #111)

[2016-10-03 19:55] cvan commented on #99
This drawing is 404ing now.

[2016-10-03 19:56] ngokevin commented on #99
That was before we fixed the UploadCare settings, i'll edit.

[2016-10-03 22:33] feiss commented on #104
this should be closed, should't it?

[2016-10-03 22:36] fernandojsg commented on #104
yep :)

[2016-10-03 22:36] #104 closed

[2016-10-03 22:38] feiss commented on #143
Yup! it takes a while. 300,000 vertices. It seems the author painted slowly so a lot of vertices were created. And I think it's by far the heaviest scene created in A-Painter to date. For comparison, my "[You shall not pass](https://github.com/aframevr/a-painter/issues/99#issuecomment-249398455)" painting is about 80,000 vertices.

[2016-10-04 00:01] fernandojsg commented on #111
@cvan I'v never worked with Service Worker before, do you mind giving some advices on how to deal with it, or start some wip PR?

[2016-10-04 01:24] cvan commented on #111
Yep, working on it for Puzzle Rain, so expect a PR for several repos soon.

[2016-10-04 07:49] fernandojsg commented on #111
Cool! :)

[2016-10-04 10:43] avrljk opened #151 "multi-user A-Painter working but leaky"
We've modified A-Painter to support multi-user painting (including undo and clear).

Before submitting a pull request, we need to track down a memory leak.
At first we thought it was our code, but the leak also seems to appear in an unmodified copy of A-Painter.

Is anyone else seeing memory leaks cause Google Chrome "Aw, Snap!" errors in the A-Painter tab after about 10-15 minutes in VR mode with

[2016-10-04 15:46] fernandojsg commented on #151
@avrljk so nice to hear that you're working on it! I didn't get that error, but I'm going to give it a try to see if I can reproduce it and try to find what is causing it.
Thanks for reporting it!

[2016-10-05 12:03] mrfrase3 opened #152 "Multiplayer Implementation - How to Merge?"
Hey All,

As mentioned in #151 me and @avrljk are working the multi-user aspect of A-Painter.

I've gotten it working seamlessly between the users (besides the memory leak in 151) and the code is current feature complete and almost ready to commit. I just have a few questions with regards to merging it, but first, a quick run down.

The method is fairly simple, the calls in system/brush.js add an

[2016-10-05 14:58] fernandojsg commented on #152
Hi @mrfrase3 @avrljk!
So nice to hear that this features is moving on!
Re merge here or not, I believe it could be nice to create a PR including the whole source code of the server + modifications on the client so we could take a look and discuss there if it's more suitable to include it here or maybe in a separate project instead of having the discussion here without knowing what is going on real

[2016-10-05 15:25] dmarcos commented on #152
What about creating eventually an a-painter-server repo that contains the server and the component/systems necessary for broadcasting?

[2016-10-05 15:50] fernandojsg commented on #152
@dmarcos Yes, I was thinking if it's small enough we may want to have everything together for easy setup? idk really. In any case it could be nice to take a look at the code it doesn't matter if it's on a PR here or creating the other repo and have two PR one for each one.
@mrfrase3 @avrljk do you have it uploaded somewhere where we could take a look so we could decide after how to proceed, before

[2016-10-06 05:20] msfeldstein commented on #112
+1 for a more development/inspectable/modifiable friendly format.  I've gotten bogged down trying to pull info out of the binary format, its not very hack-friendly.  it'd be great to have a JSON format we can use, and maybe have the binary format decompress itself into that if we have a bandwidth heavy application.

[2016-10-06 05:20] msfeldstein commented on #149
Why not add them as dependencies and pull from NPM?

[2016-10-06 05:21] msfeldstein commented on #149
Would make it a lot easier to modify a-frame while working on the project as well, i'm unclear how i can add features to a-frame and test them in a-painter easily

[2016-10-06 06:26] cvan commented on #149
Offline meaning be able to load https://aframe.io/a-painter/ and have that load withoutneeding to install npm, serve the A-Painter format locally, and so forth. [Service Workers](https://serviceworke.rs) enable this kind of pattern.

[2016-10-06 16:02] eric-schleicher commented on #112
How about a zip with json meta and gltf resources?

On Wed, Oct 5, 2016 at 10:20 PM, Michael Feldstein <notifications@github.com

[2016-10-11 01:03] cvan commented on #147
@dmarcos have you seen this?

[2016-10-11 01:09] cvan commented on #152
I would recommend not standing up a separate server (at least not initially) using Firebase: (a) it'll be error-prone and expensive to handle many concurrent connections using WebSockets, and (b) all the WebVR-enabled builds of the browsers already support WebRTC data channels, so you really just need a WebSocket signalling server + WebRTC. And, Firebase or [Signalhub](https://github.com/mafintosh

[2016-10-11 01:13] cvan commented on #134
This is fixed now:

![screen shot 2016-10-10 at 6 13 44 pm](https://cloud.githubusercontent.com/assets/203725/19255681/4ac87e82-8f15-11e6-94ba-933b172c68d0.png)

[2016-10-11 01:13] #134 closed

[2016-10-11 09:52] avrljk commented on #151
We saw the leak repeatedly on three separate Vive/PC setups during multi-user development & testing.

I've had trouble reproducing it on the only Vive/PC available to me so far this week.

I'm now wondering if the leak was in some upstream code A-Painter or the browser pulls in uses and it's been fixed.  I was testing using the same Chrome build we developed with and whatever A-Painter build loads

[2016-10-11 16:18] dmarcos commented on #147
@mrfrase3 Does the demo version work for you? https://aframe.io/a-painter/
As you realized that commit is currently deployed and we have no issues here on a Vive.

[2016-10-17 10:22] avrljk commented on #151
Last week I couldn't reproduce the leak on two of the three original Vive systems we saw it on the week before.

One case I didn't have time to test was leaving an instance of (unmodified) A-Painter running in one tab of a browser window after starting another A-Painter instance (modified / unmodified) in a fresh tab of the same browser window.

I'm reopening this issue as a reminder to test that

[2016-10-17 17:30] mrfrase3 commented on #147
The commit running for the demo at https://aframe.io/a-painter/ is #137 to the best of my knowledge, it has the changes made in #137 but not #138

[2016-10-17 18:36] ngokevin commented on #147
Thanks, will double check it's using the correct patched A-Frame version for webvr 1.1.

[2016-10-18 17:01] mrfrase3 commented on #152
Heyo,

Sorry, I've been bogged down with uni and other projects. That and waiting for #151.

Anyway, you can find the multi user version on my fork [Here](https://github.com/mrfrase3/a-painter/tree/multi-user), the commit specific to the implementation can be found [Here](https://github.com/mrfrase3/a-painter/commit/2e296617e5e9f99b41edc8eb4cb7e43978aae7c4)

As to the talk of firebase, I may have

[2016-10-28 12:22] cvan commented on #149
FYI: I made a tool for handling a Service Worker that is versioned based on a hash of static assets in a directory:

https://github.com/cvan/sherpy
https://gist.github.com/cvan/b0b373442a69b298fc05d4a8a8001d5a

Might be useful out of the box, though you may have to tweak things slightly - YMMV.

[2016-10-28 12:22] cvan commented on #111
FYI: I made a tool for handling a Service Worker that is versioned based on a hash of static assets in a directory:

https://github.com/cvan/sherpy
https://gist.github.com/cvan/b0b373442a69b298fc05d4a8a8001d5a

Might be useful out of the box, though you may have to tweak things slightly - YMMV.

[2016-11-01 09:58] feiss commented on #99
m0ar!

https://aframe.io/a-painter/?url=https://ucarecdn.com/b2de6fa3-2574-4f7f-bca9-ccc3cf89aacc/

![image](https://cloud.githubusercontent.com/assets/359872/19885956/b9d6a87c-a021-11e6-8977-9d1ce8a188df.png)

.

https://aframe.io/a-painter/?url=https://ucarecdn.com/74bad28d-50ae-4c59-b137-6b74cb89fbbf/

![image](https://cloud.githubusercontent.com/assets/359872/19885973/d3229e76-a021-11e6-84a8-e

[2016-11-03 07:55] ngokevin opened #156 "Unusable after trying to save using "V" | Lot of bright blue light"
https://github.com/aframevr/aframe/issues/2037

[2016-11-04 08:09] avrljk commented on #151
I saw a couple of crashes again during a recent demo of vanilla A-Painter (not multi-user) but didn't have time to chase it down at the time.
I'll try to find a repeatable way of generating a crash next week.

[2016-11-14 14:03] FluorescentHallucinogen opened #157 "Google Daydream"
Does A-Painter support Google Daydream?

[2016-11-14 14:14] FluorescentHallucinogen opened #158 "Use phone as controller"
Is it possible to use smartphone that has a gyroscope as controller?

[2016-11-14 14:47] Utopiah commented on #158
Maybe using https://github.com/ryanbetts/dayframe but that would need a good rework of https://github.com/aframevr/a-painter/blob/master/src/components/paint-controls.js

[2016-11-17 23:48] feiss commented on #99
A VR fox!

https://aframe.io/a-painter/?url=https://ucarecdn.com/0b45b93b-e651-42d8-ba49-b2df907575f3/

![image](https://cloud.githubusercontent.com/assets/359872/20412715/b8ff1d8a-ad28-11e6-937b-4f6d83b59e2b.png)

[2016-11-29 14:58] Utopiah commented on #5
Should be fixed using Aframe master new screenshot component, still have to be integrated to the menu.

[2016-12-07 00:27] mattmillerart opened #160 "FEATURE REQUEST - Export painting to obj or similar format for 3d printing."
We are using AFrame and APainter in a class I teach at [KidsDigitalU](http://www.kidsdigitalu.com/). We have a makerbot 3d printer and one of the students had the idea to print their painting in 3d!

Maybe the binary save format could be replaced with a more standard format like obj etc. which would support this? This might also afford loading paintings into ThreeJS, unity, etc.? Another option wo

[2016-12-07 09:07] feiss commented on #160
That's amazing, it's great to see A-Painter is actually being used in a classroom!

OBJ exporting is something we actually started to do but is on hold now, we had to move on to work on other stuff.

But we will talk about this (and other nice features we had in the queue) and try to release it asap.

Apart from that, I guess you already know that you cannot 3D print any random model, but it must

[2016-12-10 23:29] pjoulot commented on #151
Hi, I don't know if it's related but I have some lags when I'm using A-Painter on Firefox with the HTC Vive and after a while it crashed. I tried the other A-Frame controller demo and it was working well.

[2016-12-21 20:43] msfeldstein commented on #124
This is overkill for now, you can get the same results using a pre-made json sketch: https://medium.com/@msfeldstein/make-a-vr-paintbrush-in-a-painter-68f802716cf9#.j8zcujazp

[2016-12-21 20:43] #124 closed

[2016-12-22 20:12] msfeldstein commented on #103
Does this mean using WASD style controls to walk around when you're not in HMD?

[2016-12-22 20:27] dmarcos commented on #103
We had WASD controls at the beginning and we replaced them with Orbit controls. It's in general a better experience. You can move the camera position by clicking right button + dragging.

[2016-12-24 21:45] dmarcos opened #177 "Teleport on the touchpad is confusing"
The thouchpad is also used to change the brush size causing a lot unintentional teleportations. I'm testing this Christmas with people that had never used a-painter or VR.

[2016-12-25 00:08] feiss commented on #177
Yes, it may be confusing for newbies, in the same way that they often use the thumbnail for painting or selecting instead of using the trigger.

Not sure about the best way to deal with this. Maybe enabling the teleport only on the controller with the menu opened, maybe disabling the size control in the touchpad..

Mm I think the best option, since it is not a very used feature, would be to put a

[2016-12-25 00:26] machenmusik commented on #177
the approach I took with fork of @fernandojsg 's teleport control (not with A-Painter though) was to use A-Frame `hand-controls` and map to gestures like `pointing` -- although on Vive, because the grip button is hard to press and therefore isn't required to point, that might not help.  For Oculus Touch it would be natural to pick a compound pose, but it also has different controls so you could le

[2016-12-26 20:39] fernandojsg commented on #177
I agree that it could be confusing, in fact after playing with medium and quil I believe we should have a discussion about have different options on each hand by default instead of duplicating the same functionality on each hand as we do right now.

[2016-12-28 16:05] Utopiah commented on #160
Yes as mentioned in #109 then #112 even though .apa from https://github.com/aframevr/a-painter/blob/master/src/systems/brush.js#L56 was convenient once we want to use what has been done via Apainter we are stuck. It prevents Apainter from being a tool within a large workflow.

[2016-12-28 18:01] feiss commented on #160
you now have JSON (shortcut `j`), which is more convenient than APA. But not as convenient as OBJ, sure.

[2016-12-30 10:15] feiss opened #180 "Touchpad gesture for brush size should be relative"
Not absolute, like it is now. This would improve usability and support with Oculus thumbstick.

[2017-01-02 01:53] dmarcos commented on #180
Just as a note: The controls can be completely different for touch and vice. We could make brush size absolute in Vive and relative in Touch.

[2017-01-02 02:06] dmarcos opened #181 "The texture of the sliders for color and brush selection handler don't show up"
They render as white ![selector](https://d3vv6lp55qjaqc.cloudfront.net/items/2J0z3O3y3p0O0r2p2N2K/Image%202017-01-02%20at%203.04.32%20AM.png?X-CloudApp-Visitor-Id=f61488c21f881f6c0373a58eeac290c9&v=dcf94000)

[2017-01-02 02:06] dmarcos commented on #181
@fernandojsg @feiss have the texture paths changed?

[2017-01-03 22:01] feiss commented on #181
the texture is the same as always, and looks ok..
https://aframe.io/a-painter/assets/images/ui-normal.png

It's the normal state that is failing, hover state is ok.. weird

[2017-01-06 05:16] msfeldstein commented on #103
That seems to just drag the camera up and down slightly, it definitely doens't feel very good (and also you can't do it on a trackpad).

FlyControls is probably the best, that way its the same as orbit controls until you press one of the direction keys.  I'm really missing this ability.

[2017-01-07 18:17] Utopiah opened #182 "no redo button"
It is very convenient to be able to undo the last action but... if you press undo twice instead of once, how do you go back? A redo button in that situation (e.g. other grip) would help.

[2017-01-10 12:39] Utopiah commented on #5
To take a regular (projection) screenshot, use the keyboard shortcut (<ctrl> + <alt> +s).

To take a 360° (equirectangular) screenshot, use the keyboard shortcut (<ctrl> + <alt> + + <shift> +s).

https://aframe.io/docs/master/components/screenshot.html

[2017-01-11 14:21] Utopiah commented on #160
@feiss did I miss something or is this JSON still Apainter specific? I quickly tried but it doesn't look like threejs JSON and I couldn't import it in Blender/Clara.io

[2017-01-11 15:41] feiss commented on #160
You didn't miss anything: it's a-painter specific! :P

[2017-01-12 09:27] scorpeon opened #183 "Problem with Oculus Rift touch controllers in A-painter"
Hello
Oculus Touch conrtollers doesn't work with a-painter
I use Chromium. Rift (goggles) works fine but controllers doesn't work.
Vive+vive controllers also works fine.
I've checked the example https://toji.github.io/webvr-samples/XX-vr-controllers.html In this example controllers works fine.
Please, advise. How to set up Oculus Touch?

[2017-01-12 15:30] machenmusik commented on #183
The pull request for Oculus Touch support has not yet been merged.  A version of that code should be running at https://a-painter.heroku.com though no guarantees on uptime.  @fernandojsg any other notes to add?

[2017-01-14 08:48] kfarr commented on #160
Three.js scene to stl https://gist.github.com/kjlubick/fb6ba9c51df63ba0951f

[2017-01-16 01:50] feiss opened #185 "Layers support"
Managing layers would add incredible potential to a-painter. The user would paint on just one active layer, and layers could be hidden, deleted or added. Also, copying/pasting all the content between one layer and another would be very useful.

The order of layers is irrelevant.

In the DOM, layers would be represented with `a-entity` tags, working as parents of all the strokes inside.

From a GUI

[2017-01-16 01:56] feiss commented on #185
Making the strokes of one layer blink after selecting the layer could be useful for finding the layer we want.

[2017-01-20 09:37] Utopiah commented on #5
Can we close this?

[2017-01-20 10:42] dmarcos commented on #5
Do we still want it in the menu?

[2017-01-20 10:47] Utopiah commented on #5
True, would be nicer for newcomers. It means adding an option but also doing the screenshot component differently because as of now it brings up a new opening/save window that isn't visible in VR.

[2017-01-20 10:53] dmarcos commented on #5
This is related https://github.com/aframevr/a-painter/pull/179

[2017-01-23 13:37] Utopiah opened #187 "Clear and Save are next to each other... it can be frustrating ;)"
Mistake happens so having a button that make you lose all your work next to one that save it is... risky. Would be good to move Clear away.

[2017-01-23 14:42] feiss commented on #187
I completely agree

[2017-02-01 11:31] gabrielstuff opened #188 "Gamecontroller does not appear"
Hi all,

This project looks really nice.
We are managing to running it on chromium experimental feature with both flags activated.
Unfortunately the controllers never appears.
Does one, need to run something special to bring the VR controller up ? Or maybe killing all VR app (steam, viveport) ?

Thanks for the help

[2017-02-01 12:10] feiss commented on #188
@fernandojsg you had related problems with the latest version of chromium, don't you?

[2017-02-01 14:38] gabrielstuff commented on #188
Not sure what you meant. Should I try with a lower version ?
Le mer. 1 févr. 2017 à 13:11, Diego F. Goberna <notifications@github.com> a
écrit :

--
👌

[2017-02-19 11:40] FluorescentHallucinogen commented on #157
What about https://github.com/ryanbetts/aframe-daydream-controller-component or https://mrdoob.github.io/daydream-controller.js/?

[2017-03-07 14:32] fernandojsg opened #191 "Logo and tooltips disappear instantly instead of fadeout smoothly"

[2017-03-09 08:43] #191 closed

[2017-03-28 13:35] machenmusik commented on #183
Oculus Touch support should be merged now

[2017-04-25 12:58] adammarcwilliams opened #196 "Rotation feature for teleport"
I tested the new Oculus Touch support last night and it worked beautifully(thank you) but exposed a problem that may not have been an issue for Vive users.

Unless running an experimental 360 set-up we only have front facing sensors which means the controllers loose tracking when we turn away from them (to paint from the back of our scene).

Whilst it would be good to have scaling/rotation tools a

[2017-04-25 13:53] ngokevin commented on #196
Alternatively, I've become pretty dependent on being able to snap/comfort turn with Oculus thumbstick on all Rift apps. (i.e., thumb stick left to snap-rotate 30 degrees).

[2017-05-08 15:04] dmarcos opened #197 "Create registerLine and registerStamp APIs"
3rd parties should not modify directly the lines and stamps arrays

[2017-05-08 15:08] Utopiah commented on #197
Unclear that https://blog.mozvr.com/mastering-a-painter/ was an initial way to make custom line/stamp work but harder to re-use as it doesn't use `AFRAME.registerBrush()`.

[2017-05-11 13:58] blairmacintyre opened #198 "inspector continuing to watch keyboard after hidden"
We're using aframe to teach a high school class, and one of the students noticed that when they went into the inspector, did some things, and exited, if they moved around with the keyboard, objects would start getting duplicated.

It turned out that every time they hit "d"  (to move back) the inspector was duplicating the last thing that was selected when they exited the inspector.

This was in th

[2017-05-13 15:29] blairmacintyre commented on #185
Great idea!

[2017-05-13 15:29] blairmacintyre commented on #182
Good suggestion!

[2017-05-13 15:30] blairmacintyre commented on #143
Now that @dmarcos created a component to load scenes into AFrame, this is even more important.

[2017-05-13 15:32] blairmacintyre opened #199 "A delete action"
As with Tilt Brush, it would be great to have a delete stroke option.  It can delete an entire stroke, we don't need to support cutting / slicing strokes.

Essentially, it should be pretty easy to use the raycast to select a stroke (and highlight it) while using a "delete" brush.   Clicking would delete.

[2017-05-13 15:34] blairmacintyre opened #200 "multi-sensory feedback on WHERE a stroke will appear"
3D depth perception, relative to other strokes, is limited in VR, so it would be good to have more feedback where strokes will appear.

One way this could happen is to visually provide a 3D indication of the stroke, and when the brush collides with existing strokes, the vibration on the controller could briefly be pulsed to give a sense that you would be drawing in a way that is "on" or aligned wi

[2017-05-13 15:36] blairmacintyre opened #201 "Use lighting and shadows for better perception of scene structure"
The current default flat rendering style, with fixed lights, makes it very difficult to see what's happening in the scene.

It would be great to add two things:
- shadows.  If the scene threw shadows it would be much easier to understand.
- extra lights.  We could do one or more of the following:  light attached to head (headlight), light attach to controller (flashlight) or a movable light the us

[2017-05-13 15:39] blairmacintyre opened #202 "More dynamic brushes"
Given that we can now load a scene into an aframe program, and we can actually use the same code to render in this aframe program as we do in apainter, we have the potential to create animated, dynamic "brushes" of the sort something like Tilt Brush can't do (via model export / import in other programs).

Simple things like particle systems (stars, fire, pixel-trails) that react to how the apainte

[2017-05-15 01:34] dmarcos commented on #198
Is this an inspector issue instead of a-painter?

[2017-05-15 01:35] dmarcos commented on #199
I can look into this after 0.6.0 a-frame release

[2017-05-15 02:21] dmarcos commented on #202
It's defintively possible with the current API. When defining a brush one also can declare a `tick` method and include any animation logic there.

[2017-05-15 08:21] fernandojsg commented on #198
It's an inspector yep, I'm going to try to fix it today

[2017-05-15 10:03] blairmacintyre commented on #199
Cool, thanks.

[2017-05-15 10:04] blairmacintyre commented on #198
@dmarcos you're right, I should have posted this there (and should have also checked to see if this happened in other aframe programs).  But, thanks both of you.

[2017-05-21 16:53] mhsjlw commented on #157
Daydream controls are now a part of master, any work on this?

[2017-05-21 17:48] dmarcos commented on #157
In order to incorporate daydream to a-painter we would have to completely rethink the interaction model. I'm not sure that 3DOF input is capable of reproducing the experience

[2017-06-09 19:33] benfoxall opened #203 "Tilt Brush import"
via [this tweet](https://twitter.com/danbri/status/873228750070194176).

I wrote a script that reads `.tilt` files: [demo](https://benjaminbenben.com/tiltbrush/example.html)/[source](https://github.com/benfoxall/tiltbrush).

Would it be of interest to use that to allow importing of Tilt Brush sketches into a-painter?  I guess it wouldn't have to be baked into this project, but could be a separate

[2017-06-09 21:03] feiss commented on #203
This could be really cool, thanks for proposing it!

You should have to add a new `loadTilt()` method to the brush system. In https://github.com/aframevr/a-painter/blob/master/src/systems/brush.js#L305 you can find the JSON loader, that will be of great help.

The main issue with this I guess it is how to translate Tilt Brush brushes to those in A-Painter, but I think that using a flat default bru

[2017-06-17 07:31] FluorescentHallucinogen commented on #158
Any progress?

[2017-06-17 07:41] FluorescentHallucinogen commented on #158
* Device Orientation (https://www.chromestatus.com/feature/5874690627207168)
* Device Motion (https://www.chromestatus.com/feature/5556931766779904)

There also exist the newer APIs:

* Motion Sensors APIs based on Generic Sensor API (https://www.chromestatus.com/feature/5698781827825664)

[2017-06-17 07:46] Utopiah commented on #158
There probably won't be any progress except if you develop this since A-painter was done solely with roomscale and 6DoF controllers in mind.

[2017-06-17 07:47] FluorescentHallucinogen opened #204 "Add gamepad support"
Add gamepad support via Web Gamepad API (https://www.chromestatus.com/feature/5118776383111168).

[2017-06-17 07:48] Utopiah commented on #158
Alternatively it would also be possible to use a Tango phone as a 6DoF controller, much easier to do now that https://github.com/googlevr/chromium-webar is public.

[2017-06-17 08:48] Utopiah commented on #204
Just like https://github.com/aframevr/a-painter/issues/158 this is very doubtful, using the gamepad to navigate in a scene could work but to paint that's a totally different experience that in roomscale with 6DoF controllers, probably very frustrating and unpleasant.

[2017-06-17 09:25] Utopiah commented on #199
Mentioned earlier in #73

[2017-06-17 09:26] Utopiah commented on #201
Just made the simplest of brush to add extra lights http://vatelier.net/MyDemo/apainter-amaze2017/a-painter-amaze/src/brushes/light.js and even though it "works" I find it difficult to judge. Without #73 or being able to move it after adding it it's a bit tricky.

[2017-06-17 09:27] Utopiah commented on #201
Also for shadows #14 ;)

[2017-06-19 14:49] mrfrase3 commented on #152
So I've recently revisited this and re-coded it in a much less impactful way to the main repo.

In commit #205 I've added the concept of an owner of a stroke, this wont affect those using this as singleplayer in the slightest yet having it allows a multiplayer implementation to inject whatever other code it needs during runtime without affecting the main repo.

Basically others can implement multi

[2017-08-15 20:16] radames commented on #160
I'm also interested in the possibility to export models from the a-frame context, I came across this [dedosfera](https://github.com/loleg/dedosfera/blob/master/index.html) which using a-frame and a three.js to export STLs.

[2017-08-16 04:32] Utopiah commented on #160
I guess it's based on @fernandojsg earlier threejs work https://twitter.com/fernandojsg/status/820792246920445954 but maybe the better way to go now would glTF cf more recently https://twitter.com/fernandojsg/status/895295826255368192

Also a side node but since that issue was created there is https://github.com/dmarcos/a-painter-loader-component

[2017-08-16 07:58] fernandojsg commented on #160
To finish the obj exporter I should modify a couple of things on three.js because it doesn't handle triangle_strips well, but for gltf it could be easier and has the advantage that we could include the material definition and even the textures inside the file itself, so much easier to use later.
In fact I started the GLTF exporter from three.js with the a-painter exporter in mind.

[2017-08-24 22:58] cvan opened #209 "Add `<meta>` tags for Twitter + Facebook cards"
à la those in https://github.com/aframevr/a-saturday-night/blob/master/index.html

[2017-09-06 07:04] cvan commented on #152
thanks for working on this! check out @haydenjameslee's https://github.com/haydenjameslee/networked-aframe, which should help.

I have a paid Firebase plan for Mozilla VR, which we could use. if there's a Heroku server you want us to deploy for signalling (and potentially WebSockets fallback), let me know, and I'll talk to our IT folks to see about deploying a paid, stable instance of a backend se

[2017-09-06 08:16] fernandojsg commented on #152
After checking both implementations I tend to like this implementation as it doesn't modify almost anything on the core and let the developers to create their own custom backend so we don't rely on (and maintain) a complex implementation but leave it up to the user.
I believe this is the way to go for the MVP of the multiplayer support and then we could evolve from there.
I've already merged https

[2017-09-15 10:18] mojovski opened #213 "Use A-Painter modules without A-Frame"
Are there any known experiments, where the A-Painer is used without A-Frame?
I would like to integrate it into my small 3D visualization app similar to Potree.

BTW: Awesome work!! Thanks for sharing!

[2017-09-15 10:31] ngokevin commented on #213
A-Painter requires A-Frame. It'd be like asking how to use google.com without HTML.

I think you can export A-Painter drawings to glTF format though if that helps.

[2017-09-18 21:20] dmarcos opened #214 "Change teleport button"
It is now mapped to the touchpad. After giving a lot of demos most the people trigger the teleport by mistake and it's very confusing.

[2017-09-20 17:05] avrljk commented on #214
Potentially related:  every time I teleport it maximises the brush size.  Are beginners accidentally teleporting instead of resizing the brush?

If so, how about remapping brush resize from vertical swipe on the touch pad to horizontal swipe?  Horizontal is more intuitive because it matches the orientation of the brush size slider above the colour picker.

That way, very frequent teleporters like

[2017-09-21 13:50] Utopiah commented on #214
Indeed it's a typical problem

[2017-09-21 13:56] fernandojsg commented on #214
Yep I agree. In fact I was having a conversation yesterday with @dmarcos about this specific issue.
I like the proposal of @avrljk to change the slider from vertical to horizontal (red part), and maybe use just the top part (yellow) of the controller to detect the click, if you click in another place it won't do the teleporting.

![image](https://user-images.githubusercontent.com/782511/30699546-5

[2017-09-22 05:30] Utopiah commented on #214
Somehow people feel like they need to use their thumbs... Maybe they don't
have a proper grasp of the controller but really often I have to physically
prevent them from using it.

We could also work on a small introductory tutorial in addition to the
tooltip at the beginning, something similar to Google Blocks introduction.

On Thu, Sep 21, 2017 at 3:56 PM, Fernando Serrano <notifications@github.c

[2017-09-22 09:48] avrljk commented on #214
At our multi-user A-Painter demos, in the first 30 seconds, I get new A-Painters to draw their first couple of brushstrokes, side-step and poke their head through them.  Then it's a quick demo of how to teleport forward then turn around to see the back of their work

It really helps novices "get" the fact that they're in 3D, not just painting on a flat surface.  The usual reaction is "That's so co

[2017-10-04 11:20] fernandojsg opened #217 "Fix bounding box issue as each stroke has a point always on 0,0,0"

[2017-10-04 11:20] fernandojsg opened #218 "Texture atlas for stamp and line materials"
Use a texture atlas to pack all the textures from the lines and stamps materials so we don't need to load more than one texture.

[2017-10-04 11:26] fernandojsg opened #219 "Use instances for brushes that creates geometry"
Use instances for brushes like spheres or cubes instead of creating a new mesh for each object.

[2017-10-04 11:27] fernandojsg opened #220 "Use vertex colors instead of material.colors"
Use vertex colors instead of setting the `material.color` so strokes using the same brush but with different colors could be stored on a common buffergeometry.

[2017-10-04 11:28] fernandojsg opened #221 "Use big buffergeometry buffers instead of one for each stroke"
Use big buffers and store there the vertices instead of one buffergeometry for each stroke.

[2017-10-04 11:28] fernandojsg opened #222 "Performance optimizations"
I'll collect here the list of issues related to performance improvement to have an overview vision of what we try to achieve and the status of each task:
- [ ] Fix bounding box issue having a point always on 0,0,0 when using drawRange with on buffer geometries (https://github.com/aframevr/a-painter/issues/217)
- [ ] Use a texture atlas to pack all the textures from the lines and stamps materials s

[2017-10-10 14:31] avrljk opened #226 "low framerate when stroke count > 250 (ymmv)"
This is a [known problem](view-source:https://blog.mozvr.com/mastering-a-painter#smalltips), but I couldn't see an issue for it.

When multiple users are collaborating on one painting, the effect is magnified.  Example: 6 painters will average about 40 brushstrokes each before the latency gets bad.

This might be fixed by #221.

[2017-10-13 11:08] avrljk commented on #177
Duplicate of #214

[2017-10-13 11:14] #177 closed

[2017-10-13 15:55] avrljk commented on #180
@dmarcos wrote:

Or both for both ;) with consistent mappings by using "asymmetric controls" hinted at in #214.

An action on the non-painting hand controller (people mostly paint one-handed), could toggle brush resizing between absolute and relative.

A quasi-modal action similar to the Shift key on a keyboard, would be preferable to a modal action like the Caps Lock key.  People seldom forget to

[2017-10-13 16:22] avrljk opened #228 "asymmetric hand controller actions"
Most A-Painter users paint with one hand, seldom using their other hand controller's trigger, touchpad, joystick, grips and butons. The other hand controller is mostly used for positioning the palette of painting tools.

Novices users would be unlikely to notice if the non-painting hand controller's input devices were remapped to convenient actions for other users.

#214, #180

[2017-10-20 14:53] fernandojsg opened #235 "Stroke rendering over the UI"
Set render order correctly so the UI is always on top no matter which brush is selected

![image](https://user-images.githubusercontent.com/782511/31826984-eb983d20-b5b6-11e7-8275-81a17e97aef2.png)

![image](https://user-images.githubusercontent.com/782511/31826988-ef431a08-b5b6-11e7-80fa-daa50e2362d9.png)

/cc @arturitu

[2017-12-10 08:02] mrfrase3 opened #236 "JSON files not saving correctly"
Hey All,

Was just finally getting to processing all the saved JSON files from the Multiplayer A-Painter exhibit at SIGGRAPH Asia, to then discover that the files are all missing data. More specifically orientation, position and color are not saving correctly.

I tested and this is also happening on the single player version of a-painter. Binary files are still saving correctly.

Here is an exampl

[2017-12-12 15:32] mrfrase3 commented on #236
Also, for those that are interested, I managed to recover some of the paintings from the multiplayer server's persistence file.

You can see the pretty art at https://mrfrase3.github.io/a-painterSA17/

[2017-12-15 06:04] 2daye opened #237 "I also want to ask how the game moves (HTC Vive) handle mobile functions"
I also want to ask how the game moves (HTC Vive) handle mobile functions

[2017-12-15 06:05] 2daye commented on #237
Hello, I'm a programmer from China

[2017-12-15 06:06] 2daye commented on #237
@fernandojsg I want to ask, how do you do it, HTC vive handle mobile function

[2018-01-04 13:19] manikatum opened #238 "Megsenger"
Toneytonton21@gmail.com

[2018-01-04 13:20] manikatum commented on #238
Ais

[2018-01-05 07:14] cvan commented on #238
What is the issue here?

[2018-01-26 07:59] ngokevin opened #240 "preload menu textures"
There's a frame drop the first time the menu shows up. Need to do `renderer.setTexture2D(ourTexture, 0);`

[2018-02-05 21:58] #218 closed

[2018-02-05 22:32] ngokevin opened #242 "change default brush from flat to shaded brush"

[2018-03-28 08:07] dmarcos opened #246 "Bug when painting with two hands simultaneously"
The strokes are drawn from one hand to the other instead of a separate stroke per hand.

[2018-05-31 20:57] weddingdj opened #247 "How to download a painting?"
... including all dependencies, if there are any.

I would like to load paintings from my web-server and not from ucarecdn.com

Is this possible?

[2018-06-25 11:02] Giorat opened #248 "Support for the Oculus Go"
Would love to know if you are planning support for the Oculus Go for a-painter.

Even if Go is 3DOF should be achiveable compatability buy using teleport commands with the oculus controller that has 3DOF too.

[2018-07-05 19:32] #248 closed

[2018-08-07 20:04] SamiraAtMicrosoft opened #250 "UI labels appear slightly offset on Samsung controllers"
The UI labels pointing to the buttons appear slightly offset on the [Samsung motion controllers](https://www.samsung.com/us/computing/computing-accessories/computers/xe800zaa-hc1us-xe800zaa-hc1us/) compared to the Acer controllers. See the screenshots below.
The gamepad.id does vary between the Acer and the Samsung controllers so it should be possible to distinguish between them.

Acer:
![acer](ht

[2018-08-11 09:56] SF5 commented on #246
that is a feature in my opinion this way you can use the program as with tilt brush and make surfaces

[2018-08-13 22:37] dmarcos commented on #246
True, sometimes bugs become features but we did not implement it deliberately and probably UX can be improved 😄

[2018-10-08 23:47] colinfizgig commented on #246
I agree it could be a feature, but it tends to be a bit rough and noisy.  Maybe if there was a way to smooth the strokes?   I like the gradient it creates as well.

[2018-10-17 11:11] VisibleReality opened #252 "Tab crash whenever the main menu button is pressed."
Whenever I press the top button on my controller the tab crashes, which means I can't change brush colour or things like that. Im using SteamVR with a Vive Pro.

[2019-05-03 21:47] #247 closed

[2019-05-24 18:00] cutec-chris commented on #203
any news on this ?

[2019-06-05 17:02] weddingdj opened #255 "A-Frame 0.9.x"
I made A-painter work with a-frame 0.9.x but the rotation of the oculus touch controller model is wrong. I made a workaround to adjust the rotation but now the paint strokes start above the model.

I looked through the source but cannot find the line where I can adjust the starting position of a stroke. Any help would be very much appreciated.

[2019-06-12 13:44] fhernand commented on #255
Hi weddingdj, you can try to tweak the vector for the oculus touch controller here: https://github.com/aframevr/a-painter/blob/d30b4397f1a79f64a12e7a67ca74d53233ca1d9d/src/systems/brush.js#L392

[2019-07-10 18:04] donovaneinkauf opened #256 "Implementing Super-hands into a-painter"
Hello, I have been trying to create a Virtual Classroom as a research project for TAMU, and my goal is to use the features of the super-hands component to be able to move, stretch and rotate objects while still being able to use the paint features, but I'm not having any luck.

I'm using a similar setup of the super-hands component as shown here: https://glitch.com/~maestro-present , mainly hackin

[2019-07-31 01:03] Chovin commented on #158
I'd very much love to put work into this. Even if support for most phones isn't that great and we end up painting with the little sensors available on mobile browsers nowadays.
Maybe we could use https://github.com/jeromeetienne/AR.js or maybe https://trackingjs.com/ as a frame of reference for the phone's position since it seems phone rotation might be the most supported piece of information we c

[2019-07-31 02:24] Utopiah commented on #158
@Chovin you might want to test A-painter XR first cf https://blog.mozvr.com/responsive-webxr-a-painter-xr/ because for iOS at least it seems to be doing roughly what you are suggesting.

[2019-12-09 11:10] Utopiah commented on #255
Could be interesting to have an update and do a PR because it seems dearly required. I just tried on the Oculus Quest and couldn't see the controllers nor the background. I was basically only able to paint with one color with one type of brush.

[2020-01-13 20:58] weddingdj opened #257 "Not working in Chrome 79 anymore... WebXR Device API"
Not working in Chrome 79 anymore... WebXR Device API

[2020-05-23 12:29] stychu opened #258 "Oculus Quest"
Not working in Oculus Browser. IN Firefox all good but unable to see the controllers which sucks and not able to open the menu

[2020-05-25 21:25] laurens94 opened #259 "'Undo' often triggers accidentally with Index controllers"
When using Index controllers, the Undo-function is triggered when the touch-sensitive back of the controllers are touched (commonly used for fingertracking/grabbing). This way, it's very hard to paint something without accidentally removing it as well.

Is there a way to rebind the controls?

[2020-11-03 23:04] heaversm opened #260 "can't open menu in oculus quest 2"
I have an oculus quest 2, and can't seem to open the menu with the controllers. Can you clarify if this is possible, and how?

[2020-11-10 15:49] novali51 commented on #260
Hye heaversm, first of all are-you using oculus browser or firefox reality ?

[2020-11-10 15:51] novali51 commented on #255
Hye there, a WebXR version for the Firefox reality or Oculus Browser on the Quest 2 will be a great walk for humanity ... and for the open source world too ...

[2020-12-22 18:55] kevcoxe commented on #258
same for me

[2020-12-25 15:37] KacperKazan commented on #260
same issue here. can't open the menu on my quest 2. using the firefox reality browser. the oculus browser seems not to work at all with this app

[2022-03-09 23:32] dmarcos opened #273 "Replace Oculus controller models"
We are using touch 1 models (shipped / sold with OG Oculus Rift). We should probably replace them with Touch 2 controllers. Probably not that many OG Rifts in use at the moment.

[2022-03-10 00:17] msub2 commented on #273
For sure. I'll take a look tonight and see if I can update the model to glTF also. In the future it would definitely be cool to support a wider range of controllers, either somewhat dynamically (position tip separately onto a model from A-Frame) or with some community-sourced custom models.

[2022-03-10 01:25] dmarcos commented on #273
Yeah we can expand to more controllers. if we have a separate model for just the tip it will be easy to do.

[2022-04-01 03:59] msub2 commented on #273
Think we can close this now that #274 is in

[2022-04-01 04:01] msub2 commented on #260
@dmarcos This was fixed in #262

[2022-04-01 04:01] msub2 commented on #258
@dmarcos This can be closed now

[2022-04-01 04:02] msub2 commented on #255
@dmarcos This can be closed now

[2022-04-01 04:02] msub2 commented on #257
@dmarcos This can be closed now that updates are merged

[2022-09-26 15:37] matlu opened #276 "3DoF controller mapping is wrong"
The current 3DoF Controller mapping when using A-painter in WebXR is not working with Huawei VR Glass using 3DoF controller.
The WebXR browser used is Wolvic (https://github.com/igalia/wolvic/)

The XR Controller Profile used for Huawei VR Glass with 3DoF controller is below.

[code]

[2022-11-07 10:08] lijualivenow commented on #258
same for me, I am using meta quest2.
The page is loading, but I cannot paint. I have tried this on the default quest browser.

[2022-11-07 20:33] msub2 commented on #258
This *was* fixed, seems like there's been a regression since I last posted. I'll take a look

[2022-11-07 22:56] dmarcos commented on #255
closing as per request

[2022-11-07 22:56] #255 closed

[2022-11-27 07:51] Arai-madoka commented on #258
When did you encounter a page that loaded but you couldn't paint?
In my case, in addition to not being able to paint, I can't see the work even if I jump to the link to the work I drew in the past. Is this just me?

[2022-11-27 07:52] Arai-madoka commented on #258
When did you encounter a page that loaded but you couldn't paint?
In my case, in addition to not being able to paint, I can't see the work even if I jump to the link to the work I drew in the past. Is this just me?

[2022-11-28 22:08] msub2 commented on #258
I believe the issue you're referring to is referenced in this PR I have that's currently still open https://github.com/aframevr/a-painter/pull/268.